/* Default styles for large screens */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  padding: 10px;
}

.slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40% !important;
}

.slider-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.slider-text {
  flex: 1;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  max-width: 50%;
}
.imageTitle {
  width: 75% !important;
}
.slider-text p {
  margin: 0 0 20px 0;
  font-size: 52px !important;
  line-height: 1.5 !important;
}

.contentButton {
  margin-bottom: 190px !important;
}

/* Button styles */
.button-control {
  position: absolute;
  bottom: 10px;
  left: 54% !important;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.slider-button {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.slider-button:hover {
  background-color: #444;
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .slider-container {
    height: 80vh !important;
    margin-top: 60px !important;
  }

  .slider-content {
    padding: 30px !important;
    flex-direction: row;
    text-align: left;
  }

  .slider-item {
    width: 50% !important;
    margin-bottom: 20px !important;
    margin-right: 40px !important;
  }

  .slider-item img {
    max-width: 90% !important;
    height: auto;
  }

  .imageTitle {
    max-width: 30% !important;
  }

  .slider-text {
    max-width: 80%;
    font-size: 20px !important;
    margin-top: 150px !important;
  }

  .slider-text p {
    margin: 0 0 0px 20px;
    font-size: 22px !important;
  }

  .contentButton {
    margin-top: 15px !important;
    font-size: 12px !important;
    line-height: 1.1;
    width: 150px !important;
    height: 40px !important;
  }

  .button-control {
    right: 50px !important;
    bottom: 80px !important;
    gap: 15px !important;
  }

  .slider-button {
    width: 30px !important;
    height: 30px !important;
    font-size: 12px !important;
  }
}

/* Responsive styles for small devices (mobile phones) */
@media only screen and (max-width: 500px) {
  .slider-container {
    height: 100vh !important;
    margin-top: 85px !important;
  }
  .slider-content {
    padding: 20px !important;
    flex-direction: column;
    text-align: center;
  }

  .slider-item {
    width: 100% !important;
    margin-bottom: 10px !important;
    margin-right: 80px !important;
  }

  .slider-item img {
    max-width: 100% !important;
    height: auto;
  }

  .imageTitle {
    max-width: 100% !important;
  }

  .slider-text {
    max-width: 100%;
    font-size: 24px !important;
  }

  .slider-text p {
    margin: 0 0 10px 50px;

    font-size: 25px !important;
  }

  .contentButton {
    margin-top: 20px !important;
  }

  .button-control {
    right: 60px !important;
    bottom: 95px !important;
    gap: 10px !important;
  }

  .slider-button {
    width: 35px !important;
    height: 35px !important;
    font-size: 16px !;
  }
}
